@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');

html {
    font-size: 62.5%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 5px solid black;
    padding: 1.0rem 2.0rem;
}

.header .photoH {
    height: 6.0rem;
    width: 6.0rem;
}

.action {
    font-size: 2.0rem;
    font-family: "Fira Code", "sans-serif";
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 3.0rem;
    display: inline-flex;
    align-items: center;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
}

.action:hover {
    color: rgb(221, 219, 219);
}

.action::before {
    content: "";
    height: 1.0rem;
    width: 1.0rem;
    background-color: #975F0B;
    margin-right: 1.0rem;
}

.button-uni {
    display: inline-block;
    font-size: 2.0rem;
    font-family: "Fira Code", "sans-serif";
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #975F0B;
    height: 6.0rem;
    width: 17.0rem;
    padding-top: .0rem;
    padding-bottom: .0rem;
    line-height: 6.0rem;
    box-shadow: 5px 5px 0 black;
    margin-right: .0rem;
    text-align: center;
    cursor: pointer;
    transition: transform 100ms linear; /*ease-in-out = vai suavisar no começo e no final  */
}

.button-uni:hover {
    background-color: #794a04;
    transform: scale(1.08);
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 35%;
    }

    .navbar {
        display: none;
        width: 100%;
        height: 100%;
    }
    
    .menu-toggle {
        display: initial;
        width: 4rem;
        height: 3rem;
        margin: 1rem 3rem;   
        cursor: pointer;     
    }

    .one, .two, .three {
        background-color: #fff;
        height: .5rem;
        width: 100%;
        margin: .6rem auto;
        transition-duration: 300ms;
    }

    /* Fullscreem */

    .header.on .photoH {
        display: none;
    }

    .header.on {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        
        z-index: 11;
    }

    .header.on .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        height: 90vh;
    }

    .header.on .navbar .action {
        border: none;
        border-bottom: 1px solid rgba(105, 77, 77, 0.171);
        height: 15vh;
        padding: 0.7rem 2.4rem;
        font-family: "Quicksand";
        font-weight: 500;
        font-size: 4rem;
        color: #725C5C;
        text-decoration: none;
        color: #fff;
        transition: background 150ms;
        transition-duration: 500ms;
    }
    
    .action::before {
        content: none;
    }

    .header.on .navbar .action {
        border-bottom: 1px solid #975f0b3b;
    }

    .header.on .menu-toggle {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    .header.on .menu-toggle .one {
        transform: rotate(45deg) translate(1.5rem, 1.2rem);
    }

    .header.on .menu-toggle .two {
        opacity: 0;
    }

    .header.on .menu-toggle .three {
        transform: rotate(-45deg) translate(.2rem, -.1rem);
    }
}

#home {
    background-image: url(../assets/img/banner-1349.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 1.0rem solid #794a04;
}

#home .button-uni {
    margin-bottom: 30rem;
}

.placa {
    display: inline-block;
    background-color: #3A4042;
    padding: 1.5rem 1.5rem;
    margin-top: 9.0rem;
    margin-left: 24.5rem;
    box-shadow: 5px 5px 0 black;
    text-align: center;
}

.placa h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    color: white;
    text-shadow: 4px 4px 0 black;
}

.placa h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;
    color: white;
    text-shadow: 4px 4px 0 black;
}

.loading-spinner {
    margin-top: -1.5rem;
    margin-left: 32.0rem;
    height: .1rem;
    width: .1rem;
    padding: .6rem;
    border: .3rem solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    #home .button-uni {
        margin-bottom: 2rem;
    }

    .placa {
        margin-left: 10rem;
    }
}

#button-home .button-uni {
    display: inline-block;
    margin-left: 16.0rem;
    margin-top: 3.0rem;
}

.section-skills {
    padding-top: 5.0rem;
    padding-bottom: 10.0rem;
    width: 100%;
    border-bottom: 1.0rem solid #794a04;
    background-color: #3A4042;
}

.section-skills h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3.0rem;
    color: white;
    text-align: center;
    padding: 5.0rem 0;
}

.box-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30.0rem, 1fr));
    max-width: 80.0rem;
    margin: 0 auto;
    grid-gap: 1.0rem;
}

.box-skills div {
    display: flex;
    margin-left: 2.0rem;
    padding: 1.5rem;
}

.box-skills div .name-tec-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.box-skills h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
    color: white;
    margin-left: 2.0rem;
}

.box-skills progress {
    box-sizing: border-box;
    height: 3.0rem;
    margin-left: 2.0rem;
    border: .4rem solid #000;
    -webkit-appearance: none;
}

::-webkit-progress-bar{
    background-color: rgb(219, 218, 218);
}

::-webkit-progress-value {
    background-color: #975F0B;
}

.section-proj {
    padding-top: 5.0rem;
    padding-bottom: 5.0rem;
    width: 100%;
    background-color: #000;
    border-bottom: 1.0rem solid #975F0B;
    text-align: center;
}

.section-proj .proj-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30.0rem, 1fr));
    grid-row-gap: 2.0rem;
    grid-column-gap: 5.0rem;
    margin-left: .5rem;
}

.section-proj .proj .proj-box {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.photo {
    object-fit: cover;
}

.section-proj .proj p {
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.0rem;
    margin-top: 1.0rem;
    color: #fff;
}

.section-proj h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3.0rem;
    color: white;
    padding: 5.0rem 0;
}

.about {
    padding-top: 5.0rem;
    padding-bottom: 10.0rem;
    width: 100%;
    background-color: #3A4042;
    border-bottom: 1.0rem solid #975F0B;
    text-align: center;
}

.about h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3.0rem;
    color: white;
    padding: 5.0rem 0;
}

.description {
    margin: 0 5.0rem;
    color: #fff;
    font-family: 'Fira code', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 3.0rem;
    line-height: 1.3;
    text-align: justify;
}

.contact {
    background-color: #3A4042;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 1.0rem solid #975F0B;
    padding-top: 5.0rem;
    padding-bottom: 5.0rem;
    width: 100%;
}

.contact .box-contact {
    width: 90%;
}

.contact .box-contact div {
    margin-bottom: 2.0rem;
    
}

.contact .box-contact legend {
    font-family: 'Press Start 2P', cursive;
    font-size: 3.0rem;
    color: white;
    padding-bottom: 5.0rem;
    text-align: center;
}

.contact .box-contact div label {
    font-family: 'Fira code';
    color: #fff;
    font-weight: 300;
    font-size: 2.0rem;
    line-height: 1.2;
    margin-bottom: 1.0rem;
}

.contact .box-contact div .main-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    font-size: 2.0rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #fff;
    border: .3rem solid #000;
}

.contact .box-contact div .main-input.-textarea {
    height: 20.0rem;
}

.contact .box-contact #button-subm .button-uni {
    width: 100%;
}

.contact .box-contact #button-subm .button-uni:hover {
    transform: scale(1.02);
}

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
}

.footer .social-media {
    width: 20.0rem;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}