@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');

header {
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 5px solid black;
    padding: 10px 20px;
}

header img {
    height: 60px;
    width: 60px;
}

.action {
    font-size: 20px;
    font-family: "Fira Code", "sans-serif";
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.action:hover {
    color: rgb(221, 219, 219);
}

.action::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #975F0B;
    margin-right: 10px;
}

.button-uni {
    display: inline-block;
    font-size: 20px;
    font-family: "Fira Code", "sans-serif";
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #975F0B;
    height: 60px;
    width: 170px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    text-align: center;
    transition: transform 100ms linear; /*ease-in-out = vai suavisar no começo e no final  */
}

.button-uni:hover {
    background-color: #794a04;
    transform: scale(1.08);
}

#home {
    background-image: url(../imagens/banner-1349.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    border-bottom: 10px solid #000;
}

.placa {
    display: inline-block;
    background-color: #3A4042;
    padding: 15px 15px;
    margin-top: 90px;
    margin-left: 245px;
    box-shadow: 5px 5px 0px black;
    text-align: center;
}

.placa h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 4px 4px 0px black;
}

.placa h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: white;
    text-shadow: 4px 4px 0px black;
}

.loading-spinner {
    margin-top: -15px;
    margin-left: 300px;
    height: 1px;
    width: 1px;
    padding: 6px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#button-home .button-uni {
    display: inline-block;
    margin-left: 160px;
    margin-top: 30px;
}

#skills {
    height: 550px;
    width: 100%;
    border-bottom: 10px solid #794a04;
    background-color: #3A4042;
}

#skills h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 0px black;
    text-align: center;
    padding: 50px 0;
}

#skills .box-skills h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 4px 4px 0px black;
}

.box-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 900px;
    margin: 0 auto;
    grid-gap: 10px;
}