@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 5px solid black;
    padding: 10px 20px;
}

header img {
    height: 60px;
    width: 60px;
}

.action {
    font-size: 20px;
    font-family: "Fira Code", "sans-serif";
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.action:hover {
    color: rgb(221, 219, 219);
}

.action::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #975F0B;
    margin-right: 10px;
}

.button-uni {
    display: inline-block;
    font-size: 20px;
    font-family: "Fira Code", "sans-serif";
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #975F0B;
    height: 60px;
    width: 170px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    text-align: center;
    cursor: pointer;
    transition: transform 100ms linear; /*ease-in-out = vai suavisar no começo e no final  */
}

.button-uni:hover {
    background-color: #794a04;
    transform: scale(1.08);
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 425px) {
    html {
        font-size: 5.6px;
    }

    .navbar {
        display: none;
        width: 100%;
        height: 100%;
    }
    
    .menu-toggle {
        display: initial;
        width: 4rem;
        height: 3rem;
        margin: 1rem 3rem;        
    }

    .one, .two, .three {
        background-color: #fff;
        height: .5rem;
        width: 100%;
        margin: .6rem auto;
        transition-duration: 300ms;
    }

    /* Fullscreem */

    .header.on .photoH {
        display: none;
    }

    .header.on {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        
        z-index: 11;
    }

    .header.on .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        height: 90vh;
    }

    .header.on .navbar .action {
        border: none;
        border-bottom: 1px solid rgba(105, 77, 77, 0.171);
        height: 15vh;
        padding: 0.7rem 2.4rem;
        font-family: "Quicksand";
        font-weight: 500;
        font-size: 4rem;
        color: #725C5C;
        text-decoration: none;
        color: #fff;
        transition: background 150ms;
        transition-duration: 500ms;
    }
    
    .action::before {
        content: none;
    }

    .header.on .navbar .action {
        border-bottom: 1px solid #975f0b3b;
    }

    .header.on .menu-toggle {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .header.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .header.on .menu-toggle .two {
        opacity: 0;
    }

    .header.on .menu-toggle .three {
        transform: rotate(-45deg) translate(1px, -2px);
    }
}

#home {
    background-image: url(../assets/img/banner-1349.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 560px;
    border-bottom: 10px solid #000;
    object-fit: cover;
}

.placa {
    display: inline-block;
    background-color: #3A4042;
    padding: 15px 15px;
    margin-top: 90px;
    margin-left: 245px;
    box-shadow: 5px 5px 0px black;
    text-align: center;
}

.placa h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 4px 4px 0px black;
}

.placa h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: white;
    text-shadow: 4px 4px 0px black;
}

.loading-spinner {
    margin-top: -15px;
    margin-left: 320px;
    height: 1px;
    width: 1px;
    padding: 6px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#button-home .button-uni {
    display: inline-block;
    margin-left: 160px;
    margin-top: 30px;
}

.section-skills {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    border-bottom: 10px solid #794a04;
    background-color: #3A4042;
}

.section-skills h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.box-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
}

.box-skills div {
    display: flex;
    margin-left: 20px;
    padding: 15px;
}

.box-skills div .name-tec-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.box-skills h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: white;
    margin-left: 20px;
}

.box-skills progress {
    box-sizing: border-box;
    height: 30px;
    margin-left: 20px;
    border: 4px solid #000;
    -webkit-appearance: none;
}

::-webkit-progress-bar{
    background-color: rgb(219, 218, 218);
}

::-webkit-progress-value {
    background-color: #975F0B;
}

.section-proj {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #000;
    border-bottom: 10px solid #975F0B;
    text-align: center;
}

.section-proj .proj-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    margin-left: 5px;
}

.section-proj .proj .proj-box {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.photo {
    object-fit: cover;
}

.section-proj .proj p {
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-top: 10px;
    color: #fff;
}

.section-proj h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    padding: 50px 0;
}

.about {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    background-color: #3A4042;
    border-bottom: 10px solid #975F0B;
    text-align: center;
}

.about h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    padding: 50px 0;
}

.description {
    margin: 0 50px;
    color: #fff;
    font-family: 'Fira code', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    text-align: justify;
}

.contact {
    background-color: #3A4042;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 10px solid #975F0B;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.contact .box-contact {
    width: 90%;
}

.contact .box-contact div {
    margin-bottom: 20px;
    
}

.contact .box-contact legend {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    padding-bottom: 50px;
    text-align: center;
}

.contact .box-contact div label {
    font-family: 'Fira code';
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contact .box-contact div .main-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border: 3px solid #000;
}

.contact .box-contact div .main-input.-textarea {
    height: 200px;
}

.contact .box-contact #button-subm .button-uni {
    width: 100%;
}

.contact .box-contact #button-subm .button-uni:hover {
    transform: scale(1.02);
}

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
}

.footer .social-media {
    width: 200px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}